Listen 8888
<VirtualHost *:8888>
 WSGIDaemonProcess bottle-example.com threads=20 display-name=bottle-example python-path=/var/www/bottle-example.com:/var/www/bottle-example.com/venv/lib/python2.7/site-packages
 WSGIProcessGroup bottle-example.com
 ServerName bottle-example.com
 WSGIScriptAlias / /var/www/bottle-example.com/todoapp.wsgi
 <Directory /var/www/bottle-example.com>
   <Files todoapp.wsgi>
     Order deny,allow
     Allow from all
   </Files>
 </Directory>
</VirtualHost>
